CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
http://chainz.cryptoid.info/carboncoin/api.dws
<iframe src="https://webchat.quakenet.org/?channels=carboncoin%20&uio=d4" width="647" height="400"></iframe>
